@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    box-sizing: border-box;
    --bs-info-rgb: 0,178,255; //색상변경
    --bs-body-font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background: #EDF2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDF2F5;
}

.mobile-container {
    width: 462px;
    background: white;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    padding-bottom: 80px;
}

.top-bar {
    width: 462px;
    max-width: 462px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
}

.right-space {
    width: 25px;
}

.top-bar h1 {
    font-size: 26px;
    font-weight: 700;
    color: #00b2ff;
    position: absolute;
    left: 50%;
    margin:0px;
    transform: translateX(-50%);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.top-bar img {
    height: 25px;
}

.back-icon {
    cursor: pointer;
    margin-right: 13px;
}

.backhome-icon {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.content {
    margin-top: 120px;
}

.login-font {
    font-size: 13px;
}

.lounge-logo2 {
    position: absolute;
    right: 0;
}

tbody {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 전체 게시글 컨테이너 */
.post-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

/* 게시글 개수 스타일 */
.post-count {
    background-color: #00B2FF;
    width: 70px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
}

/* 글 제목 스타일 */
.post-title {
    margin-top: 10px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* 글 제목에 호버 시 스타일 */
.post-title:hover {
    color: #007ACC; /* 호버 시 글자 색 변경 */
}

/* 작성일자 스타일 */
.post-date {
    font-size: 14px;
    margin-top: 4px;
    color: #A6A6A6;
    font-size: 0.9em; /* 글자 크기 조절 */
}

/* 사용자 정의 이미지 버튼 스타일 */
.write-btn {
    position: absolute; /* 뷰포트 기준으로 절대 위치 설정 */
    width: 60px;
    height: 60px;
    background-image: url('/images/write.png'); /* 이미지 경로 설정 */
    background-size: cover;
    background-position: center;
    bottom: 70px; /* 뷰포트 하단에서 102px 위 */
    right: 20px; /* 뷰포트 오른쪽에서 20px 떨어진 위치 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 포인터 커서로 설정 */
    text-indent: -9999px; /* 텍스트 숨기기 */
    overflow: hidden;
    z-index: 10; /* 다른 요소보다 위에 표시 */
}

.pagination .page-item .page-link {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    border-radius: 20px; /* 타원형 모양 */
    margin: 70px 10px;
    padding: 5px 15px;
    border: 1px solid #00B2FF;
    color: #00B2FF;
    text-decoration: none;
}

.pagination .page-item.active .page-link {
    background-color: #00B2FF;
    color: white;
    border: 1px solid #00B2FF;
}

.pagination .page-item .page-link:hover {
    background-color: #00B2FF;
    color: white;
    border: 1px solid #00B2FF;
}

.pagination .page-item.disabled .page-link {
    color: #d1d1d1;
    pointer-events: none;
    border: 1px solid #d1d1d1;
}

button[type=submit] {
    background-color: #00B2FF;
    width: auto;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

label {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

input[name=email] {
    height: 45px;
    background: url(images/signemail-icon.png) no-repeat 13px center;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    padding-left: 45px;
}

input[name=username] {
    height: 45px;
    background: url(images/login-icon.png) no-repeat 13px center;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    padding-left: 45px;
}

input[name=password] {
    height: 45px;
    background: url(images/password-icon.png) no-repeat 13px center;
    padding-left: 45px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

input[name=password1] {
    height: 45px;
    background: url(images/password-icon.png) no-repeat 13px center;
    padding-left: 45px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

input[name=password2] {
    height: 45px;
    background: url(images/password-icon.png) no-repeat 13px center;
    padding-left: 45px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

::placeholder {
    color: #A6A6A6;
    font-size: 12px;
    text-align : left;
}


@media screen and (max-width: 462px) {
    .mobile-container {
        width: 100%;
    }

    .top-bar {
        width: 100%;
    }

    .tabs {
        width: 100%;
    }

    .table {
        width: 100%;
    }
}

/*.loginstyle {*/
/*    background: #E6F7FF;*/
/*    border: 2px solid #00B3FF;*/
/*    border-radius: 16px;*/
/*}*/