@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background: #EDF2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDF2F5;
}

.mobile-container {
    width: 462px;
    background: white;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 80px;
}

.top-bar {
    width: 462px;
    max-width: 462px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
}

.right-space {
    width: 25px;
}

.top-bar h1 {
    font-size: 26px;
    font-weight: 700;
    color: #00b2ff;
    position: absolute;
    left: 50%;
    margin:0px;
    transform: translateX(-50%);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.top-bar img {
    height: 25px;
}

.back-icon {
    cursor: pointer;
    margin-right: 13px;
}

.backhome-icon {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.content {
    margin-top: 120px;
}

textarea {
    width:100%;
}

input[type=submit] {
    margin-top:10px;
}

