<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <link rel="stylesheet" href="/community-signup.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/question/list}">
                    <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                </a>
                <a th:href="@{/main}">
                    <img src="/images/backhome-icon.png" alt="홈" class="backhome-icon">
                </a>
            </div>
            <h1>커뮤니티</h1>
            <div class="right-space"></div>
        </div>
        <div class="content">
            <div class="m-3 border-bottom">
                <div>
                    <h4>로그인</h4>
                </div>
            </div>
            <form th:action="@{/user/login}" method="post">
                <div th:if="${param.error}">
                    <div class="m-3 alert alert-danger">
                        ID 또는 비밀번호를 확인해 주세요.
                    </div>
                </div>
                <div class="m-3">
                    <label for="username" class="form-label">ID</label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="m-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">로그인</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>