<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/community-signup.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/question/list}">
                    <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                </a>
            </div>
            <h1>회원가입</h1>
            <div class="right-space"></div>
        </div>
        <div class="content">
            <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <div class="m-3">
                    <label for="username" class="form-label">사용자 이름</label>
                    <input type="text" th:field="*{username}" class="form-control">
                </div>
                <div class="m-3">
                    <label for="password1" class="form-label">비밀번호</label>
                    <input type="password" th:field="*{password1}" class="form-control">
                </div>
                <div class="m-3">
                    <label for="password2" class="form-label">비밀번호 확인</label>
                    <input type="password" th:field="*{password2}" class="form-control">
                </div>
                <div class="m-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" th:field="*{email}" class="form-control">
                </div>
                <div class="d-grid gap-2 m-3">
                <button type="submit" class="btn btn-primary" id="button">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/bootstrap.min.js}"></script>
</body>
<script>
    document.getElementById("button").addEventListener("focus", () => {
        document.getElementById("button").style.backgroundColor = "#00B2FF";
        document.getElementById("button").innerText = "환영합니다!";
    });

    document.getElementById("button").addEventListener("blur", () => {
        document.getElementById("button").style.backgroundColor = "#00B2FF";
        document.getElementById("button").innerText = "회원가입";
    });
</script>
</html>